body {
	margin: 0;
	background-image: url('../images/beautiful-lake.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Open Sans", sans-serif;
  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

/* Le quito los márgenes y paddings a los elementos h */
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

nav {
	width: 100%;
	background-color: #30D8F0;
	color: white;
	font-family: "Ubuntu Mono", monospace;
	font-size: 2em;
	text-align: center;
}

#profile {
	width: 400px;
	height: 210px;
	background-color: white;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
}

#tweet {
	width: 400px;
	height: 210px;
	display: inline-block;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 3px;
}

#tweet-container {
	padding: 10px;
}

#tweets {
	margin-left: 50px;
}

#tweets article {
	background-color: white;
	width: 830px;
	border-radius: 5px;
	padding: 10px;
}